*{
    margin: 0px;
    padding: 0px;
     box-sizing: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #f3f3fd;
}
.continer{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    margin: 2rem auto;
}
.comment-continer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    gap: 2rem;
   
}
.comment{
    border: 4px;
    box-shadow: 0px 2px 7px #bcbccc;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (min-width:768px) {
    .comment-continer{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.name{
    font-size: 16px;
    color: #8c8c9c;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.email{
    font-size: 16px;
    color: black;
}